/* body */

body {
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;

    /*reset default values */ 
    margin: 0;
    padding: 0;
}

/* header */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    height: 69px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgba(32, 32, 32, 0.945);
}

.nav img {
    height: 50px;
    padding-left: 10px;
}

 
.links {
    display: inline-flex;
    list-style: none;
}

.links li {
    text-decoration: underline;
    padding-right: 20px;
    margin: 10px;
    color: white;
}

/* <main> mission */

#mission {
    margin-top: 69px;
    height: 700px;
    width: 1200px;
    background-image: url("images/img-mission-background.jpg");
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 10px;
}

#mission .content{
    background-color: black;
    width: 100%;
    opacity: 0.8;
}

/* featured tea items */

.items {
    width: 1000px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}


.items img {
    height: 200px;
    width: 300px;
    margin: 10px;
    display: block;
    border-radius: 5px;
}

.paquet {
    display: inline-flex;
}

figcaption {
    margin-top: 5%;
}

/* locations */

#locations {
    background-image: url("images/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
    margin-top: 5%;
    border-radius: 10px;
    
}

.locations {
    display: inline-flex;
}

.location {
    background-color: black;
    opacity: 0.8;
    width: 300px;
    border-radius: 5px;
    margin-right: 40px;
    margin-left: 40px;
}   

/* </main> footer */

.head {
    height: 200px;
}

.foot {
    display: flex;
    justify-content: left;
    padding-left: 20px;
    width: 100%;
    z-index: 1;
    background-color: rgba(32, 32, 32, 0.945);
}


/*reponsive*/
